/* FONTS */

@font-face {
    font-family: "geist";
    src: url("../fonts/geist/Geist-Regular.ttf");
}

@font-face {
    font-family: "google-sans-code";
    src: url("../fonts/google_sans/GoogleSansCode-VariableFont_wght.ttf");
}


/* BASE STYLES */

body {
    background-color: rgb(15, 15, 15);
}

h1 {
    font-size: 4rem;
    color: rgb(150, 150, 150);
    font-family: "geist", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.3rem;
    animation: fadeUp 1s ease-out;
}

p {
    color: rgb(150, 150, 150);
    font-family: "geist", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    animation: fadeUp 1s ease-out;
}

/* HEADER SECTION */

/* HERO SECTION */
.site-hero {
    height: 100vh;

    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    display: inline-block;
    text-align: center;
}

.hero-heading {
    display: inline-block;
    margin: 0;
}


.hero-tagline,
.cursor {
    text-align: left;
    overflow-wrap: break-word;
    font-size: 2rem;
    font-family: "google-sans-code", monospace;
    font-weight: 500;
    letter-spacing: -0.15rem;
    margin: 0;
    padding: 0;

}

.cursor {
    animation: blink 1.2s infinite;
}


/* TEXT STYLES */

.accent {
    color: white;
}

.noaccent {
    color: rgb(150, 150, 150);
}

/* OSCILLOSCOPE SECTION */

.oscilloscope-section {
    position: relative;
    width: 100%;
    padding: 10rem 0; 
    background-color: rgb(0,0,0);
}
.scope-wrapper {
    position: relative;
    width: 80vw;
    max-width: 1000px;           /* prevent excessive scaling on huge screens */
    margin: 10rem auto;
    animation: fadeUp 2s ease-out;

}

.scope-image {
    width: 100%;
    height: auto;
    display: block;              /* remove inline gaps */
    box-shadow:0 0 5rem 0.5rem rgba(255, 0, 255, 0.5);

}

.scope-screen {
    position: absolute;          /* overlay on top of image */

    top: 8%;                  /* match the screen area of oscilloscope.png */
    left: 2.4%;
    width: 55%;
    height: 70%;

    background-color: black;
    border-radius: 0.2rem;
    overflow: hidden;            /* clip SVG and buttons inside */
}

.oscilloscope-plot {
    width: 100%;
    height: 100%;
}


.scope-controls {
    position: absolute;           /* stay on top of wrapper */
    top: 4%;
    right: 2%;
    display: flex;
    gap: 1rem;
    z-index: 10;
}
.scope-btn {
    font-family: "google-sans-code", monospace;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: 0.2rem solid;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.6;
    box-shadow: 4px 4px black;
}

#ch1-btn {
    color: yellow;
    border-color: yellow;
}

#ch2-btn {
    color: magenta;
    border-color: magenta;
}

#ch1-btn.active {
    background: yellow;
    color: black;
    opacity: 1;
}

#ch2-btn.active {
    background: magenta;
    color: black;
    opacity: 1;
}