/* FONTS */

@font-face {
    font-family: "geist";
    src: url("../fonts/geist/Geist-Regular.ttf");
}

@font-face {
    font-family: "google-sans-code";
    src: url("../fonts/google_sans/GoogleSansCode-VariableFont_wght.ttf");
}


/* BASE STYLES */

body {
    background-color: rgb(15, 15, 15);
}

h1 {
    font-size: 4rem;
    color: rgb(150, 150, 150);
    font-family: "geist", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.3rem;
    animation: fadeUp 1s ease-out;
}

p {
    color: rgb(150, 150, 150);
    font-family: "geist", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    animation: fadeUp 1s ease-out;
}


/* HERO SECTION */
.site-hero {
    height: 100vh;

    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    display: inline-block;   /* shrink to heading width */
    text-align: center;      /* center heading text */
}

.hero-heading {
    display: inline-block;   /* shrink to text width */
    margin: 0;
}


.hero-tagline,
.cursor {
    text-align: left;        /* align to left edge of heading */
    overflow-wrap: break-word;
    font-size: 2rem;
    font-family: "google-sans-code", monospace;
    font-weight: 500;
    letter-spacing: -0.15rem;
    margin: 0;
    padding: 0;

}

.cursor {
    animation: blink 0.7s infinite;
}


/* TEXT STYLES */

.accent {
    color: white
}

.noaccent {
    color: rgb(150, 150, 150)
}
